
    <!-- .footer.wrap -->    
    <footer class="footer wrap">

      <!-- .footer-widgets.wrap -->    
      <div class="footer-widgets wrap">

        <!-- .container -->    
        <div class="container">

          <!-- .row -->    
          <div class="row">

            <div class="span4">
              <section>
                <h3 class="widget-title">
                  <span class="title-bg">广告赞助</span>
                  <span class="border"></span>
                </h3>
                <div>hahhahahah</div>

              </section>
            </div>

            <div class="span4">
              <section id="categories-2" class="widget clearfix section widget_categories">
                <h3 class="widget-title">
                  <span class="title-bg">热门节点</span>
                  <span class="border"></span>
                </h3>
                <ul>
                  <li class="cat-item cat-item-124">
                    <a href="category/entertainment/index.html" title="View all posts filed under Entertainment">Entertainment</a>
                    <span class="post-count">6</span>
                  </li>
                  <li class="cat-item cat-item-121">
                    <a href="category/gear/index.html" title="View all posts filed under Gear">Gear</a>
                    <span class="post-count">4</span>
                  </li>
                  <li class="cat-item cat-item-142">
                    <a href="category/news/index.html" title="View all posts filed under News">News</a>
                    <span class="post-count">7</span>
                  </li>
                  <li class="cat-item cat-item-129">
                    <a href="category/photos/index.html" title="View all posts filed under Photos">Photos</a>
                    <span class="post-count">4</span>
                  </li>
                  <li class="cat-item cat-item-141">
                    <a href="category/politics/index.html" title="View all posts filed under Politics">Politics</a>
                    <span class="post-count">4</span>
                  </li>
                  <li class="cat-item cat-item-122">
                    <a href="category/sports/index.html" title="View all posts filed under Sports">Sports</a>
                    <span class="post-count">5</span>
                  </li>
                  <li class="cat-item cat-item-127">
                    <a href="category/style/index.html" title="View all posts filed under Style">Style</a>
                    <span class="post-count">4</span>
                  </li>
                  <li class="cat-item cat-item-120">
                    <a href="category/technology/index.html" title="View all posts filed under Technology">Technology</a>
                    <span class="post-count">4</span>
                  </li>
                  <li class="cat-item cat-item-125">
                    <a href="category/travel/index.html" title="View all posts filed under Travel">Travel</a>
                    <span class="post-count">5</span>
                  </li>
                  <li class="cat-item cat-item-128">
                    <a href="category/videos/index.html" title="View all posts filed under Videos">Videos</a>
                    <span class="post-count">2</span>
                  </li>
                </ul>
              </section>
              <section id="text-2" class="widget clearfix section widget_text">
                <h3 class="widget-title">
                  <span class="title-bg">捐赠支持</span>
                  <span class="border"></span>
                </h3>
                <div class="textwidget">
                  如果你喜欢我们这个网站的话， 可以通过捐款的方式， 支持我们继续运营本网站或者为本网站添加更多有趣的功能， 或者发行有更多更棒特性的下一版本~谢谢你的支持！
                  <p>
                    捐款地址：
                    <a href="https://me.alipay.com/insion" target="_blank">https://me.alipay.com/insion</a>
                  </p>
                </div>
              </section>
            </div>

            <div class="span4">
              <section class="widget clearfix section Engine_Postcarousel white">
                <h3 class="widget-title">
                  <span class="title-bg">后庭花</span>
                  <span class="border"></span>
                </h3>

                <!-- .flexslider -->    
                <div class="flexslider post-carousel">

                  <span class="gradient"></span>

                  <ul class="slides">

                    <li>

                      <div class="post-2812 post type-post status-publish format-image hentry category-news category-sports">

                        <div class="featured-area">

                          <!-- .featured-image -->    
                          <div class="featured-image">

                            <a href="dealing-with-more-than-balls-and-strikes/index.html">
                              <img width="200" height="111" src="/static/files/2013/02/Baseball-baseball-52252_1024_768-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="Baseball-baseball-52252_1024_768" />    
                            </a>

                          </div>
                          <!-- /.featured-image --> </div>

                        <div class="overlay">

                          <div class="entry-header">

                            <div class="entry-meta">
                              <time class="entry-date block" datetime="2013-02-13T17:44:29+00:00">Feb 13, 2013</time>
                              <a href="dealing-with-more-than-balls-and-strikes/index.html#comments" class="entry-comments block">No Comments</a>
                            </div>

                            <h2 class="entry-title">
                              <a href="dealing-with-more-than-balls-and-strikes/index.html">Dealing With More Than Balls and Strikes</a>
                            </h2>

                          </div>

                          <div class="entry-content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam...
                          </div>
                        </div>

                      </div>

                    </li>

                    <li>

                      <div class="post-2815 post type-post status-publish format-standard hentry category-news category-sports category-technology">

                        <div class="featured-area">

                          <!-- .featured-image -->    
                          <div class="featured-image">

                            <a href="oscar-pistorius-goes-step-by-step/index.html">
                              <img width="200" height="111" src="/static/files/2013/02/6368910827_2511b55eac_o-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="Here He Comes Now..." />    
                            </a>

                          </div>
                          <!-- /.featured-image --> </div>

                        <div class="overlay">

                          <div class="entry-header">

                            <div class="entry-meta">
                              <time class="entry-date block" datetime="2013-02-13T17:31:57+00:00">Feb 13, 2013</time>
                              <a href="oscar-pistorius-goes-step-by-step/index.html#comments" class="entry-comments block">No Comments</a>
                            </div>

                            <h2 class="entry-title">
                              <a href="oscar-pistorius-goes-step-by-step/index.html">Oscar Pistorius Goes Step By Step</a>
                            </h2>

                          </div>

                          <div class="entry-content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam...
                          </div>
                        </div>

                      </div>

                    </li>

                    <li>

                      <div class="post-2781 post type-post status-publish format-gallery hentry category-photos category-style">

                        <div class="featured-area">

                          <!-- .featured-image -->    
                          <div class="featured-image">

                            <a href="amet-cras-dolor-tristique-pellentesque/index.html">
                              <img width="200" height="111" src="/static/files/2012/07/6829158646_d4f32ea229_b-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="6829158646_d4f32ea229_b" />    
                            </a>

                          </div>
                          <!-- /.featured-image --> </div>

                        <div class="overlay">

                          <div class="entry-header">

                            <div class="entry-meta">
                              <time class="entry-date block" datetime="2013-02-13T17:07:43+00:00">Feb 13, 2013</time>
                              <a href="amet-cras-dolor-tristique-pellentesque/index.html#comments" class="entry-comments block">No Comments</a>
                            </div>

                            <h2 class="entry-title">
                              <a href="amet-cras-dolor-tristique-pellentesque/index.html">Amet Cras Dolor Tristique Pellentesque</a>
                            </h2>

                          </div>

                          <div class="entry-content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis....
                          </div>
                        </div>

                      </div>

                    </li>

                    <li>

                      <div class="post-2777 post type-post status-publish format-video hentry category-gear category-technology category-videos">

                        <div class="featured-area">

                          <!-- .featured-image -->    
                          <div class="featured-image">

                            <a href="first-look-official-iphone-5-trailer/index.html">
                              <img width="200" height="111" src="/static/files/2013/02/iphone_2338311b-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="iphone_2338311b" />    
                            </a>

                          </div>
                          <!-- /.featured-image --> </div>

                        <div class="overlay">

                          <div class="entry-header">

                            <div class="entry-meta">
                              <time class="entry-date block" datetime="2013-02-13T16:57:22+00:00">Feb 13, 2013</time>
                              <a href="first-look-official-iphone-5-trailer/index.html#comments" class="entry-comments block">尚无评论</a>
                            </div>

                            <h2 class="entry-title">
                              <a href="first-look-official-iphone-5-trailer/index.html">Vancouver Time Lapse &#8211; Amazing!</a>
                            </h2>

                          </div>

                          <div class="entry-content">
                            The new iPhone 5 has a remarkably slim design that still makes room for a larger display and a...
                          </div>
                        </div>

                      </div>

                    </li>

                    <li>

                      <div class="post-2774 post type-post status-publish format-video hentry category-gear category-technology">

                        <div class="featured-area">

                          <!-- .featured-image -->    
                          <div class="featured-image">

                            <a href="ios-6-using-do-not-disturb/index.html">
                              <img width="200" height="111" src="/static/files/2013/02/large-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="large" />    
                            </a>

                          </div>
                          <!-- /.featured-image --> </div>

                        <div class="overlay">

                          <div class="entry-header">

                            <div class="entry-meta">
                              <time class="entry-date block" datetime="2013-02-13T16:52:13+00:00">Feb 13, 2013</time>
                              <a href="ios-6-using-do-not-disturb/index.html#comments" class="entry-comments block">No Comments</a>
                            </div>

                            <h2 class="entry-title">
                              <a href="ios-6-using-do-not-disturb/index.html">Invisible Rope Prank</a>
                            </h2>

                          </div>

                          <div class="entry-content">
                            You can use the Do Not Disturb setting while your iOS device is locked to silence calls, alerts, and...
                          </div>
                        </div>

                      </div>

                    </li>

                    <li>

                      <div class="post-2771 post type-post status-publish format-standard hentry category-entertainment category-politics">

                        <div class="featured-area">

                          <!-- .featured-image -->    
                          <div class="featured-image">

                            <a href="california-governor-arnold-schwarzenegger/index.html">
                              <img width="200" height="111" src="/static/files/2012/07/4322738056_8f5433513d_b-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="4322738056_8f5433513d_b" />    
                            </a>

                          </div>
                          <!-- /.featured-image --> </div>

                        <div class="overlay">

                          <div class="entry-header">

                            <div class="entry-meta">
                              <time class="entry-date block" datetime="2013-02-13T16:48:16+00:00">Feb 13, 2013</time>
                              <a href="california-governor-arnold-schwarzenegger/index.html#comments" class="entry-comments block">No Comments</a>
                            </div>

                            <h2 class="entry-title">
                              <a href="california-governor-arnold-schwarzenegger/index.html">California Governor Arnold Schwarzenegger</a>
                            </h2>

                          </div>

                          <div class="entry-content">
                            Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla...
                          </div>
                        </div>

                      </div>

                    </li>

                    <li>

                      <div class="post-2767 post type-post status-publish format-standard hentry category-news category-politics">

                        <div class="featured-area">

                          <!-- .featured-image -->    
                          <div class="featured-image">

                            <a href="president-barack-obama-to-addresses-the-nation/index.html">
                              <img width="200" height="111" src="/static/files/2013/02/4404488882_b552d06a8b_o-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="The Houses Of Parliament" />    
                            </a>

                          </div>
                          <!-- /.featured-image --> </div>

                        <div class="overlay">

                          <div class="entry-header">

                            <div class="entry-meta">
                              <time class="entry-date block" datetime="2013-02-13T16:42:15+00:00">Feb 13, 2013</time>
                              <a href="president-barack-obama-to-addresses-the-nation/index.html#comments" class="entry-comments block">No Comments</a>
                            </div>

                            <h2 class="entry-title">
                              <a href="president-barack-obama-to-addresses-the-nation/index.html">President Barack Obama to Addresses the Nation</a>
                            </h2>

                          </div>

                          <div class="entry-content">
                            Barack Hussein Obama II (born August 4, 1961) is the 44th and current President of the United States. He...
                          </div>
                        </div>

                      </div>

                    </li>

                    <li>

                      <div class="post-2760 post type-post status-publish format-standard hentry category-politics">

                        <div class="featured-area">

                          <!-- .featured-image -->    
                          <div class="featured-image">

                            <a href="david-camerons-personal-popularity-drops/index.html">
                              <img width="200" height="111" src="/static/files/2012/07/6001628933_78228b56dc_b-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="6001628933_78228b56dc_b" />    
                            </a>

                          </div>
                          <!-- /.featured-image --> </div>

                        <div class="overlay">

                          <div class="entry-header">

                            <div class="entry-meta">
                              <time class="entry-date block" datetime="2013-02-11T20:45:40+00:00">Feb 11, 2013</time>
                              <a href="david-camerons-personal-popularity-drops/index.html#comments" class="entry-comments block">No Comments</a>
                            </div>

                            <h2 class="entry-title">
                              <a href="david-camerons-personal-popularity-drops/index.html">David Cameron&#8217;s Personal Popularity Drops</a>
                            </h2>

                          </div>

                          <div class="entry-content">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis....
                          </div>
                        </div>

                      </div>

                    </li>

                    <li>

                      <div class="post-2073 post type-post status-publish format-video hentry category-videos">

                        <div class="featured-area">

                          <!-- .featured-image -->    
                          <div class="featured-image">

                            <a href="blow-job-by-tadao-cern/index.html">
                              <img width="200" height="111" src="/static/files/2013/02/305779278_1280-200x111.jpg" class="attachment-small_thumb wp-post-image" alt="305779278_1280" />    
                            </a>

                          </div>
                          <!-- /.featured-image --> </div>

                        <div class="overlay">

                          <div class="entry-header">

                            <div class="entry-meta">
                              <time class="entry-date block" datetime="2012-11-30T01:00:38+00:00">Nov 30, 2012</time>
                              <a href="blow-job-by-tadao-cern/index.html#comments" class="entry-comments block">6 Comments</a>
                            </div>

                            <h2 class="entry-title">
                              <a href="blow-job-by-tadao-cern/index.html">Blow Quam Ornare Pellentesque Adipiscing Mattis</a>
                            </h2>

                          </div>

                          <div class="entry-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua....
                          </div>
                        </div>

                      </div>

                    </li>

                  </ul>

                </div>
                <!-- /.flexslider --> </section>
            </div>

          </div>
          <!-- /.row --> </div>
        <!-- /.container --> </div>
      <!-- /.footer-widgets.wrap -->    

      <!-- .container -->    
      <div class="bottom-bar">

        <!-- .footer-info -->    
        <div class="footer-info clearfix">

          <div class="container">

            <p class="left">
              &copy; 2013
              <a href="/" target="_parent">VeryHour.com</a>
            </p>

            <p class="right">
              Fork By
              <a href="http://www.sudochina.com" target="_blank">SudoChina</a>
              ,
              Based
              <a href="https://github.com/astaxie/beego" target="_blank">Beego</a>
              build with
              <a href="https://github.com/lunny/xorm" target="_blank">Xorm</a>
            </p>

          </div>

        </div>
        <!-- /.footer-info.span6 --> </div>
      <!-- /.container --> </footer>
    <!-- /.footer.wrap -->    