  <header class="header">

    <div class="top-bar">

      <div class="container">

        <div class="row">

          <div class="span8 hidden-phone">

            <!-- .secondary-menu -->
            <nav class="secondary-menu">

              <ul class="nav nav-pills">
                <li id="menu-item-2496" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2484 current_page_item menu-item-2496">
                  <a href="default.html">节点1</a>
                </li>
                <li id="menu-item-2494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2494">
                  <a href="shortcodes/default.html">节点2</a>
                </li>
                <li id="menu-item-2495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2495">
                  <a href="blog/default.html">节点2</a>
                </li>
                <li id="menu-item-2827" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2827">
                  <a href="default.html#">节点3</a>
                </li>
                <li id="menu-item-2838" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2838">
                  <a href="default.html#">节点4</a>
                </li>
                <li id="menu-item-2493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2493">
                  <a href="contact/default.html">节点5</a>
                </li>
              </ul>
            </nav>
            <!-- /.secondary-menu -->
          </div>

          <div class="span4">

            <ul class="social nav nav-pills pull-right">

              <li>
                <a title="Twitter" class="twitter" target="_blank" href="###"> <i class="icon-twitter"></i>
                </a>
              </li>

              <li>
                <a title="Facebook" class="facebook" target="_blank" href="###ato"> <i class="icon-facebook"></i>
                </a>
              </li>

              <li>
                <a title="RSS Feed" class="email" target="_blank" href="###emes">
                  <i class="icon-email"></i>
                </a>
              </li>

            </ul>

          </div>

        </div>
        <!-- /.row--> </div>
      <!-- .container--> </div>
    <!-- .top-bar-->

    <div class="header-lower">

      <div class="container">

        <div class="row header-lower-row">

          <div class="span3">

            <!-- .logo -->
            <hgroup class="logo">

              <h1>
                <a href="/" title="VeryHour" rel="home">
                  <img src="/static/img/veryhour-logo@2x-1.png" alt="Very Hour" />
                </a>
              </h1>

            </hgroup>
            <!-- /.logo --> </div>

          <div class="span9 hidden-phone">

            <!-- .primary-menu -->
            <nav class="primary-menu">

              <ul class="nav nav-pills pull-right">
                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2484 current_page_item menu-item-2496">
                  <a href="default.html">首页</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2494">
                  <a href="shortcodes/default.html">注册</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2494">
                  <a href="shortcodes/default.html">登录</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2495">
                  <a href="blog/default.html">博客</a>
                  <ul class="dropdown-menu">
                    <li id="menu-item-2863" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2863">
                      <a href="oscar-pistorius-goes-step-by-step/default.html">Image Post</a>
                    </li>
                    <li id="menu-item-2856" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2856">
                      <a href="amet-cras-dolor-tristique-pellentesque/default.html">Gallery Post</a>
                    </li>
                    <li id="menu-item-2862" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2862">
                      <a href="first-look-official-iphone-5-trailer/default.html">Video Post</a>
                    </li>
                    <li id="menu-item-2864" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2864">
                      <a href="president-barack-obama-to-addresses-the-nation/default.html">Sidebar Left Post</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2827">
                  <a href="default.html#">颜色</a>
                  <ul class="dropdown-menu">
                    <li id="menu-item-2828" class="red-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2828">
                      <a href="default.html#">
                        <i class="icon-tint"></i>
                        Red
                      </a>
                    </li>
                    <li id="menu-item-2829" class="black-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2829">
                      <a href="default.html#">
                        <i class="icon-tint"></i>
                        Black
                      </a>
                    </li>
                    <li id="menu-item-2832" class="green-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2832">
                      <a href="default.html#">
                        <i class="icon-tint"></i>
                        Green
                      </a>
                    </li>
                    <li id="menu-item-2830" class="blue-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2830">
                      <a href="default.html#">
                        <i class="icon-tint"></i>
                        Blue
                      </a>
                    </li>
                    <li id="menu-item-2831" class="pink-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2831">
                      <a href="default.html#">
                        <i class="icon-tint"></i>
                        Pink
                      </a>
                    </li>
                    <li id="menu-item-2833" class="grey-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2833">
                      <a href="default.html#">
                        <i class="icon-tint"></i>
                        Grey
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2838">
                  <a href="default.html#">特性</a>
                  <ul class="dropdown-menu">
                    <li id="menu-item-2857" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2857">
                      <a href="shortcodes/default.html">Shortcodes</a>
                    </li>
                    <li id="menu-item-2635" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2635">
                      <a href="full-width/default.html">Full Width</a>
                    </li>
                    <li id="menu-item-2839" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2839">
                      <a href="president-barack-obama-to-addresses-the-nation/default.html">Sidebar Left</a>
                    </li>
                    <li id="menu-item-2854" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2854">
                      <a href="faq/default.html">FAQ</a>
                    </li>
                    <li id="menu-item-2855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2855">
                      <a href="contact/default.html">注册</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2493">
                  <a href="contact/default.html">注册</a>
                </li>
              </ul>
            </nav>
            <!-- /.primary-menu --> </div>
          <!-- /.span9 -->

          <div class="mobile-menu navbar visible-phone">
            <div class="navbar-inner">
              <div class="container">

                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">Menu</a>

                <!-- Everything you want hidden at 940px or less, place within here -->
                <div class="nav-collapse collapse">

                  <nav>

                    <ul class="nav nav-tabs">
                      <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2484 current_page_item menu-item-2496">
                        <a href="default.html">Home</a>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2494">
                        <a href="shortcodes/default.html">Shortcodes</a>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2495">
                        <a href="blog/default.html">Blog</a>
                        <ul class="dropdown-menu">
                          <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2863">
                            <a href="oscar-pistorius-goes-step-by-step/default.html">Image Post</a>
                          </li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2856">
                            <a href="amet-cras-dolor-tristique-pellentesque/default.html">Gallery Post</a>
                          </li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2862">
                            <a href="first-look-official-iphone-5-trailer/default.html">Video Post</a>
                          </li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2864">
                            <a href="president-barack-obama-to-addresses-the-nation/default.html">Sidebar Left Post</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2827">
                        <a href="default.html#">Unlimited Colors</a>
                        <ul class="dropdown-menu">
                          <li class="red-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2828">
                            <a href="default.html#">
                              <i class="icon-tint"></i>
                              Red
                            </a>
                          </li>
                          <li class="black-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2829">
                            <a href="default.html#">
                              <i class="icon-tint"></i>
                              Black
                            </a>
                          </li>
                          <li class="green-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2832">
                            <a href="default.html#">
                              <i class="icon-tint"></i>
                              Green
                            </a>
                          </li>
                          <li class="blue-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2830">
                            <a href="default.html#">
                              <i class="icon-tint"></i>
                              Blue
                            </a>
                          </li>
                          <li class="pink-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2831">
                            <a href="default.html#">
                              <i class="icon-tint"></i>
                              Pink
                            </a>
                          </li>
                          <li class="grey-skin menu-item menu-item-type-custom menu-item-object-custom menu-item-2833">
                            <a href="default.html#">
                              <i class="icon-tint"></i>
                              Grey
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2838">
                        <a href="default.html#">Features</a>
                        <ul class="dropdown-menu">
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2857">
                            <a href="shortcodes/default.html">Shortcodes</a>
                          </li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2635">
                            <a href="full-width/default.html">Full Width</a>
                          </li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2839">
                            <a href="president-barack-obama-to-addresses-the-nation/default.html">Sidebar Left</a>
                          </li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2854">
                            <a href="faq/default.html">FAQ</a>
                          </li>
                          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2855">
                            <a href="contact/default.html">Contact</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2493">
                        <a href="contact/default.html">Contact</a>
                      </li>
                    </ul>
                  </nav>

                </div>

              </div>
            </div>
          </div>
          <!-- /.mobile-menu --> </div>
        <!-- /.row --> </div>
      <!-- /.container--> </div>
    <!-- /.header-lower-->
  </header>